@charset "utf-8";
/* footer_nav / footer
------------------------------*/
/* フッター */
footer {
    border-bottom:solid 4px #aaa;
    width:75em;
    font-family: Arial, Helvetica, sans-serif;
}
address {
    text-align:right;
    padding:20px 8px 4px 0;
    margin:2px 0 0 0;
    border:solid 1px #000;
    color:#888888;
    background-color:#2D3940;
    font-style:normal;
}
/* フッターナビ */
footer ul {
    line-height:1.5;
    color:#2D393F;
    border-left:solid 1px #f1f1f1;
    display:inline;
    list-style-type: none;
    font-size:0.8em;
}
footer ul li {
    border-right:solid 1px #f1f1f1;
    display:inline;
    padding:0 0.6em;
}
footer a:link {
    color:#ccc;
    text-decoration:none;
}
footer a:hover {
    color:#56A9D9;
    text-decoration: underline;
}
